{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <h1>User List</h1>
    <ul>
        {# Example list items, replace with actual user data #}
        <li>User 1</li>
        <li>User 2</li>
        <li>User 3</li>
    </ul>
{% endblock %}
